@import '../styles.scss';

$header-height: $fs-height * $ratio-5;
$sidebar-width: $fs-width * $ratio-5;
$content-height: $fs-height - $header-height;
$row-height: $fs-height * $ratio-3;
$card-width: $fs-width * $ratio-3;
$search-bar-width: $fs-width * $ratio-1;
$search-bar-height: $fs-height * $ratio-6;
$content-row-height: $fs-height * $ratio-1;
$header-row-height: $fs-height * $ratio-4;
$search-bar-row-height: $fs-height * $ratio-4;

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portal {
  width: $fs-width;
  height: $fs-height;
  background-color: $white;
}

.header {
  width: $fs-width;
  height: $header-height;
  background-color: $violet;
}

.content-container {

  height: $content-height;
  width: $fs-width;
  display: flex;
  flex-direction: row;

  .sidebar {
    width: $sidebar-width;
    height: 100%;
    background-color: $black;
  }
  
  .content {
    width: $fs-width - $sidebar-width;
    height: $content-height;
    background-color: $white;
  }
}

.home-button-container {
  height: $header-height;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: $header-height;
}

.ratio-1 {
  width: $fs-width * $ratio-1;
  height: $fs-height * $ratio-1;
  background-color: $white;
}

.ratio-2 {
  width: $fs-width * $ratio-2;
  height: $fs-height * $ratio-2;
  background-color: $violet;
}

.ratio-3 {
  width: $fs-width * $ratio-3;
  height: $fs-height * $ratio-3;
  background-color: $black;
}

.ratio-4 {
  width: $fs-width * $ratio-4;
  height: $fs-height * $ratio-4;
  background-color: $white;
}

.ratio-5 {
  width: $fs-width * $ratio-5;
  height: $fs-height * $ratio-5;
  background-color: $violet;
}

.ratio-6 {
  width: $fs-width * $ratio-6;
  height: $fs-height * $ratio-6;
  background-color: $black;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(.left-aligned) {
    align-items: center;
  }
}

.header-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header-row-height;

  .title {
    color: $violet;
  }
}

.search-bar-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $search-bar-row-height;
}

.content-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $content-row-height;
  justify-content: start;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  box-sizing: border-box;
  margin-left: calc(($fs-width * $ratio-6) / 2);

  &.filters-card {
    height: $fs-height * $ratio-2;
    width: $card-width;
  }

  &.search-result-card {
    height: $fs-height * $ratio-1;
    width: $fs-width * $ratio-1;
  }

  &.quick-access {
    height: $row-height;
    width: $card-width;
  }

  .card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $fs-height * $ratio-6;
    margin-left: 5px;
    color: $violet;
  
    svg {
      margin-right: 5px;
      fill: $violet;
    }
  }
}

.ant-list-item-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #eee;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &.left {
    justify-content: left;
  }
  &:not(.left) {
    justify-content: center;
  }
}

.list-element {
  margin-bottom: 5px;
  font-size: small;
}

.search-bar {
  width: $search-bar-width;
  height: $search-bar-height;
  border-radius: 10px;
}

.search-icon {
  position: relative;
  left: -30px;
  top: 7px;
}

.document-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-result-list {
  max-width: 100%;
}

.scrollable {
  height: 56vh;
}

.suggestion-result {
  width: $search-bar-width;
  z-index: 5;
  position: absolute;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #eee;

  & > .suggestion {
    &:hover {
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.accordion-item {
  padding-left: 10px;
  font-size: medium;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #eee;
}

.end-of-line-toggle {
  position: absolute;
  right: 0;
}

.metadata-tag {
  margin-left: 15px;
  color: white;
  padding: 0px 5px 0px 5px;
  font-weight: 400;
}

.topic-title {
  margin-left: 20px;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

.metadata-tag {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}