<div class="portal">
  <div class="header">
    <div class="home-button-container">
      <img src="../assets/images/images.jpg" class="logo">
    </div>
  </div>
  <div class="content-container">
    <div class="sidebar">
    </div>
    <div class="content" (click)="disableSuggestions()">

      <div class="header-row">
        <div class="title">
          <h1>Welcome to Fluid Topics</h1>
        </div>
      </div>

      <div class="search-bar-row">
        <div class="column">
          <form novalidate [formGroup]="searchForm">
            <nz-input-group [nzSuffix]="searchBarSuffix">
              <input type="text" nz-input placeholder="Rechercher" formControlName="name" class="search-bar"/>
              <div class="suggestion-result" *ngIf="suggestions.length > 0 && suggestionEnabled">
                <div *ngFor="let suggestion of suggestions" class="suggestion">
                  <p (click)="setQuery(suggestion.value)">{{ suggestion.value }}</p>
                </div>
              </div>
            </nz-input-group>
            <ng-template #searchBarSuffix>
              <svg class="material-icons search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              </svg>
            </ng-template>
          </form>
        </div>
      </div>

      <div class="content-row">
        <div class="column left">
          <div class="row">
            <div class="card filters-card">
              <div class="row left-aligned">
                <div class="card-title">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"/></svg>
                  <h4>Filtres</h4>
                </div>
                <p>coming soon...</p>
              </div>
            </div>
            <div class="card quick-access">
              <div class="row left-aligned">
                <div class="card-title">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></svg>
                  <h4>Documents - Accès rapide</h4>
                </div>
                <div *ngFor="let document of documents" class="list-element">
                  <a (click)="redirectToDocument(document.id)" class="document-link">{{ document.title }}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card search-result-card" *ngIf="searchedTopicsByMap.length > 0">
            <div class="card-title">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M7,9H2V7h5V9z M7,12H2v2h5V12z M20.59,19l-3.83-3.83C15.96,15.69,15.02,16,14,16c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5 c0,1.02-0.31,1.96-0.83,2.75L22,17.59L20.59,19z M17,11c0-1.65-1.35-3-3-3s-3,1.35-3,3s1.35,3,3,3S17,12.65,17,11z M2,19h10v-2H2 V19z"/></g></svg>
              <h4>Résultats de recherche</h4>
            </div>
            <cdk-virtual-scroll-viewport itemSize="10" class="scrollable">
              <cdk-accordion>
                <cdk-accordion-item *cdkVirtualFor="let topicByMap of searchedTopicsByMap; let index = index;" #accordionItem="cdkAccordionItem" role="button" tabindex="0"
                  [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                  <div (click)="accordionItem.toggle()" class="accordion-item">
                    {{ topicByMap.title }}
                    <span *ngIf="accordionItem.expanded" class="end-of-line-toggle">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/></svg>
                    </span>
                    <span  *ngIf="!accordionItem.expanded" class="end-of-line-toggle">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
                    </span>
                  </div>
                  <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                    <nz-list>
                      <nz-list-item *ngFor="let topic of topicByMap.topics">
                        <nz-list-item-meta *ngIf="topic">
                          <nz-list-item-meta-title>
                            <a class="topic-title" (click)="getTopicContent(topic.mapId, topic.contentId)">{{ topic.title }}</a>
                            <nz-tag [nzColor]="'#2db7f5'" class="metadata-tag">metadata
                              <!-- {{ topic.metadataVariableAxisValue }} -->
                            </nz-tag>
                          </nz-list-item-meta-title>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </nz-list>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
