$violet: #a12280;
$white: #ffffff;
$black: #282832;

$fs-width: 100vw;
$fs-height: 100vh;

$ratio-1: 0.618;
$ratio-2: 0.382;
$ratio-3: 0.236;
$ratio-4: 0.146;
$ratio-5: 0.09;
$ratio-6: 0.05;

body {
  margin: 0;
}

a {
  color: cornflowerblue;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}